*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    background: black;
}
#canvas1 {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:50%;
    height: 50%;
}
#btn{
    z-index:2;
    border: 5px solid red;
    color: red;
    font-size: 16px;
    padding: 15px;

}
